/* This CSS file will need to be added to the styling of
your web pages for the styles to be rendered. */

body{
background-color: white;
color: white;
}

a {
    color: #ffc107;
}

.jumbotron {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: white;
  background-color: grey;
}

.space-above {
    margin-top: 20px;
    padding-top: 20px;
}

.disabled-link {
  pointer-events: none;
}
div.ex1 {
  background-color: lightblue;
  width: 110px;
  height: 110px;
  overflow: scroll;
}
.chatbot-body {
  height: 300px; /* or any desired height */
  overflow-y: auto;
}

4



