<!DOCTYPE html>
{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}

<html lang="en">

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
{% endblock %}
<head>
    <meta charset="UTF-8">
    {% block title %}Edit Post{% endblock %}
</head>
{% block content %}
<header class="masthead" style="background-image: url('static/assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Edit Blog Post</h1>
                            <span class="subheading">A collection of beautiful blog posts....</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
<div class="jumbotron">
    <div class="container">
        {{ ckeditor.load() }}
        {{wtf.quick_form(post,novalidate=True, button_map={"submit": "primary"})}}
    </div>
</div>
{% include "footer.html" %}
{% endblock %}
</html>