<!DOCTYPE html>
{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}User Login{% endblock %}
    {% block script %}
    {{super()}}
    <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    {% endblock %}
</head>
{% block content %}
{% include "header.html" %}
<header class="masthead" style="background-image: url('static/assets/img/login-white.png')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Login</h1>
                            <h2><span class="subheading">Click on 👇 button to Login using your Google account to add new blogs</span></h2>
                            <h2><a class="oauth-container btn darken-4 white white-text" href="{{url_for('google_login_page')}}" style="text-transform:none">
                                <div class="left">
                                    <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in"
                                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                                </div>
                                <h2>Login with Google</h2>
                            </a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% include "footer.html" %}
{% endblock %}
</html>